@import "./variables.sass"

$input-color: $color-black
$input-border-color: $color-white
$input-group-addon-bg: $color-white
$input-group-addon-border-color: $color-white

.bg-delete
    background-color: $color-delete

.bg-edit
    background-color: $color-edit

.bg-default
    background-color: $color-default

@import "~bootstrap/scss/bootstrap"
