@import "./variables.sass"

$input-color: $color-black
$input-border-color: $color-white
$input-group-addon-bg: $color-white
$input-group-addon-border-color: $color-white

@import "~bootstrap/scss/bootstrap"
